# Python
__pycache__/
*.pyc

# Test File
test.py

# Model
model/

# Virtual env
venv/
.env

# Uploaded files
uploads/

# Vector DB / FAISS
data/*.index
data/*.faiss
data/*.pkl

# Optional raw training docs
data/raw/

# OS junk
.DS_Store
Thumbs.db

# Test Files
.mp3
